<!doctype html>
<html style="background-color: #fff">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/nimbusec.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/script.js"></script>
    <title>nimbusec api frontend demo</title>
  </head>
  <body style="background-color: #fff">
    <section class="section hero">
      <div class="level is-mobile">
        <div class="level-item level-left">
          <img class="image is-128x128" src="{{ .reportlogo }}" />
        </div>
        <div class="level-item level-right">
          <img class="image is-128x128" src="/static/img/nimbusec-logo.png" />
        </div>
      </div>
    </section>

    <section class="section hero">
      <h1 class="title">IT Sicherheitsreport {{ .today }}</h1>
    </section>

    <section class="section">
      <div class="columns is-mobile">
        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="webshellchart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Web Shell</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title webshellcnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title webshellcnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title webshellcnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="malwarechart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Malware</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title malwarecnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title malwarecnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title malwarecnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="textchart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Content</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title textcnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title textcnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title textcnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="reputationchart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Reputation</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title reputationcnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title reputationcnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title reputationcnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="tlschart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">TLS</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title tlscnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title tlscnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title tlscnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="applicationchart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Application</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title applicationcnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title applicationcnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title applicationcnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="card">
            <canvas id="configurationchart" width="150" height="150"></canvas>
            <div class="card-content">
              <div class="level">
                <div class="level-item has-text-centered">
                  <h1 class="subtitle is-5">Configuration</h1>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-check-circle is-success"></i></p>
                  <p class="title configurationcnt is-success">-</p>
                </div>
                <div class="level-item has-text-centered has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-triangle is-warning"></i></p>
                  <p class="title configurationcnt is-warning">-</p>
                </div>
                <div class="level-item has-text-centered">
                  <p class="heading"><i class="fa fa-exclamation-circle is-danger"></i></p>
                  <p class="title configurationcnt is-danger">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <!--<div class="level is-mobile">
        <div class="level-item">
          <div class="heading">
            <canvas id="webshellchart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Web Shell</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="webshellcnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered has-text-centered">
                <i class="webshellcnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="webshellcnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="malwarechart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Malware</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="malwarecnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="malwarecnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="malwarecnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="textchart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Content</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="textcnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="textcnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="textcnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="tlschart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">TLS</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="tlscnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="tlscnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="tlscnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="applicationchart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Application</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="applicationcnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="applicationcnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="applicationcnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="reputationchart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Reputation</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="reputationcnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="reputationcnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="reputationcnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="heading">
            <canvas id="configurationchart" width="150" height="150"></canvas>
          </div>
          <div class="title">
            <p class="subtitle">Configuration</p>
            <div class="level">
              <div class="level-item has-text-centered">
                <i class="configurationcnt bubble is-success">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="configurationcnt bubble is-warning">-</i>
              </div>
              <div class="level-item has-text-centered">
                <i class="configurationcnt bubble is-danger">-</i>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <table class="table">
        <thead>
          <tr>
            <th class="has-text-right">URL</th>
            <th class="has-text-centered">WEBSHELL</th>
            <th class="has-text-centered">MALWARE</th>
            <th class="has-text-centered">TLS</th>
            <th class="has-text-centered">APPLICATION</th>
            <th class="has-text-centered">CONTENT</th>
            <th class="has-text-centered">REPUTATION</th>
            <th class="has-text-centered">CONFIGURATION</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="has-text-right">URL</th>
            <th class="has-text-centered">WEBSHELL</th>
            <th class="has-text-centered">MALWARE</th>
            <th class="has-text-centered">TLS</th>
            <th class="has-text-centered">APPLICATION</th>
            <th class="has-text-centered">CONTENT</th>
            <th class="has-text-centered">REPUTATION</th>
            <th class="has-text-centered">CONFIGURATION</th>
          </tr>
        </tfoot>
        <tbody>
          {{ range .reports }}
          <tr>
            <td class="has-text-right">{{.URL}}</td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Webshell 0 }}<i class="cwebshell is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Webshell 1 }}<i class="cwebshell is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Webshell 2 }}<i class="cwebshell is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Malware 0 }}<i class="cmalware is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Malware 1 }}<i class="cmalware is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Malware 2 }}<i class="cmalware is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .TLS 0 }}<i class="ctls is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .TLS 1 }}<i class="ctls is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .TLS 2 }}<i class="ctls is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Application 0 }}<i class="capplication is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Application 1 }}<i class="capplication is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Application 2 }}<i class="capplication is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Text 0 }}<i class="ctext is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Text 1 }}<i class="ctext is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Text 2 }}<i class="ctext is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
              <i class="ctext bubble{{.Text}}">&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Reputation 0 }}<i class="creputation is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Reputation 1 }}<i class="creputation is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Reputation 2 }}<i class="creputation is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
            <td class="has-text-centered"><a href="https://portal.nimbusec.com/domain/{{.URL}}/">
              {{ if eq .Configuration 0 }}<i class="cconfiguration is-success fa fa-check-circle fa-2x"></i>{{ end }}
              {{ if eq .Configuration 1 }}<i class="cconfiguration is-warning fa fa-exclamation-triangle fa-2x"></i>{{ end }}
              {{ if eq .Configuration 2 }}<i class="cconfiguration is-danger fa fa-exclamation-circle fa-2x"></i>{{ end }}
            </a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </section>

  </body>
</html>
